/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/

.foto {
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  display: block;
}

.logo {
  border-radius: 50%;
  background-color: #b92e81;
  position: absolute;
  right: 25px;
  top: 175px
}

.hlavicka {
  width: 100%;
  margin: 0 ;
  padding: 0;
  display: block;
  position: relative;
}

.obsah {
  margin-top: 0;
  display: block
}

h1 {
  color: white;
}

body {
  background-color: #bdc3c7;
  margin: 0 auto;
  margin-top: 0;
  max-width: 20em;
  display: block;
  }

p {
  color: #bdc3c7;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
  line-height: 1.5
}

a {
  text-decoration: none;
  color: #bdc3c7;
  font-weight: bold;
  padding: 10px 10px;
  width: 100%;
  display: block
}

.jmeno,
.odkazy {
  font-family: "Montserrat", sans-serif;
}

.obsah {
  background-color: #31363b;
  margin: 0 auto;
  padding: 50px 30px;
  text-align: left;
}

.odkazy {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 2px solid #3f464d;
  background-color: #31363b;
  table-layout: fixed;
  border-spacing: 10px;
  padding: 0;
  margin: 0;
}

.portfolio {
  border-top: 1px solid #3f464d;
  border-bottom: 1px solid #3f464d;
  display: inline-block;
  width: 100%;
  }

.facebook,
.twitter {
  display: inline-block;
  width: 49%;
}

.facebook {
  border-right: 1px solid #3f464d;
}

.portfolio a:hover,
.portfolio a:focus,
.portfolio a:active {
    background-color: #e74c3c;
}

.facebook a:hover,
.facebook a:focus,
.facebook a:active {
    background-color: #3b5998;
}

.twitter a:hover,
.twitter a:focus,
.twitter a:active {
    background-color: #1da1f2
}

.odkazy a:hover {
  color: white;
}

.profil {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 50px 0
}